<mat-sidenav-container class="h-screen">
  <mat-sidenav mode="side" [(opened)]="opened" #sidenav class="!w-1/6">
    <ul class="list-none p-0 m-0 mt-10">
      <li
        class="p-1.5 flex items-center gap-3 transition-all delay-200 ease-in-out cursor-pointer hover:ml-1"
      >
        <mat-icon>event</mat-icon>leaves
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon class="menu-icon cursor-pointer" (click)="sidenav.toggle()"
          >menu</mat-icon
        >
        <ng-container *ngIf="user$ | async as user">
          <h3 class="pl-8">
            Welcome {{ user.firstName }} (Remaining leave:
            {{ user.remainingLeave }})
          </h3></ng-container
        >
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="p-8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
